body {
    background-color: gainsboro;
}

h1 {
    background-color: rgb(135, 131, 138);
    text-align: center;
    font-family: 'Work Sans';
    margin: 100px 500px 0px 500px;
    padding: 50px;
    color: floralwhite;
    border: 10px solid rgba(237, 150, 224, 0.518);
    
}

h2 {
    text-align: center;
    background-color: rgba(237, 150, 224, 0.553);
    color: floralwhite;
    padding: 20px;
    margin: 5px 500px 5px 500px;
    border: 3px solid rgba(135, 131, 138, 0.576);
}

h3 {
    text-align: center;
    background-color: rgb(135, 131, 138);
    color: floralwhite;
    margin: 5px 500px;
}

h4 {
    text-align: center;
    background-color: rgba(237, 150, 224, 0.518);
    margin: 5px 500px;
}

table {
    border: 2px solid rgba(237, 150, 224, 0.518);
    margin: auto;
    background-color: rgba(135, 131, 138, 0.576);
    width: 700px; 
}

th {
    background-color: rgba(249, 170, 209, 0.593);
}

td {
    text-align: center;
    border-top: 3px solid floralwhite;
    border-right: 1px solid floralwhite;
}